# Campaign assets dir
/dungeoneering/data/campaign/

# VS Code dirs
/.vscode/
/out/

# Processing export application dirs
/dungeoneering/application.*/

# Releases dir
/releases/

# Generate icons script output dir
/dungeoneering/data/icons/orig/output/
