# Campaign assets dir
/data/campaign/

# VS Code dirs
/.vscode/
/out/

# Processing export application dirs
/application.*/

# Releases dir
/releases/

# Generate icons script output dir
/data/icons/orig/output/
